.slideshow {
  position: relative;
  overflow: hidden;
  /*
   * Hack to prevent render issues on Chrome and Safari
   * @see http://stackoverflow.com/questions/7947385/hovering-over-css-transition-in-safari-lightens-certain-font-color
   */
  -webkit-transform: translate3d(0, 0, 0); }

.slideshow__slide {
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition-delay: 0ms;
  transition-duration: 700ms;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.slideshow__slide.is-current,
.slideshow__slide.is-next,
.slideshow__slide.is-previous {
  z-index: 2; }

.slideshow__slide.is-current {
  opacity: 1;
  transform: translate3d(0, 0, 0); }

.slideshow__slide.is-next {
  transform: translate3d(100%, 0, 0); }

.slideshow__slide.is-previous {
  transform: translate3d(-100%, 0, 0); }

.no-opacity .slideshow__slide {
  display: none; }

.no-opacity .slideshow__slide.is-current {
  display: block; }

/** disable transitions so the slides are moved into the next/previous state straight away **/
.slideshow__slide.no-transitions {
  transition: none !important; }

.slideshow:hover .slideshow__next, .slideshow:hover .slideshow__previous {
  display: block;
  opacity: .6; }

.slideshow:hover .slideshow__next:hover, .slideshow:hover .slideshow__previous:hover {
  opacity: 1; }

.slideshow__next, .slideshow__previous {
  transition: opacity 250ms linear;
  background-size: 48px 48px;
  height: 48px;
  width: 48px;
  position: absolute;
  top: 50%;
  margin-top: -24px;
  cursor: pointer;
  z-index: 3;
  opacity: 0; }

.no-opacity .slideshow__next, .no-opacity .slideshow__previous {
  display: none; }

.slideshow__next {
  right: 0;
  background-image: url("images/forward.svg"); }

.no-svg .slideshow__next {
  background-image: url("images/forward.png"); }

.slideshow__previous {
  left: 0;
  background-image: url("images/back.svg"); }

.no-svg .slideshow__previous {
  background-image: url("images/back.png"); }

.slideshow__indicators {
  transform: translateX(-50%);
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 3; }

.slideshow__indicator {
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15) inset;
  display: block;
  height: 16px;
  width: 16px;
  float: left;
  border-radius: 16px;
  border: 1px solid #999;
  margin: 0 3px;
  cursor: pointer; }

.slideshow__indicator.is-active {
  background: #e1e1e1; }
