
//
// This file contains plain ol' vanilla CSS but is in a SASS file to make inclusion in projects using the old build toolchain easy as pie
// - image paths have been ammended to work standalone or in the old build toolchain
//

//----------------------------------------------------------------------------------------------------------------------
// Adjust image paths
//----------------------------------------------------------------------------------------------------------------------

$component-path: null !default;

$image-path: null !default;
@if $component-path == null {
  $image-path: "images" !default;
}
@else {
  $image-path: "#{$component-path}/nib-styles-slideshow/images" !default;
}

@function image-path($path) {
  @return "#{$image-path}/#{$path}";
}

@function image-url($path) {
  @return url(image-path($path));
}

//----------------------------------------------------------------------------------------------------------------------

.slideshow {
  position: relative;
  overflow: hidden;
}

.slideshow:hover .slideshow__next, .slideshow:hover .slideshow__previous {
  display: block;
  opacity: .6;
}

.slideshow:hover .slideshow__next:hover, .slideshow:hover .slideshow__previous:hover {
  opacity: 1;
}

.slideshow__slide {
  box-sizing: border-box;
  transition: all 700ms cubic-bezier(0.455, .03, .515, .955);
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  background: #fff;
}

.slideshow__slide[data-state=previous] {
  transform: translate3d(-75%, 0, 0);
  display: block;
  opacity: 0;
}

.no-csstransitions .slideshow__slide[data-state=previous] {
  opacity: 1;
}

.slideshow__slide[data-state=next] {
  transform: translate3d(75%, 0, 0);
  display: block;
  opacity: 0;
}

.no-csstransitions .slideshow__slide[data-state=next] {
  opacity: 1;
}

.slideshow__slide[data-state=current] {
  transform: translate3d(0%, 0, 0);
  display: block;
  opacity: 1;
  z-index: 1;
}

.no-csstransitions .slideshow__slide[data-state=current] {
  display: block;
}

.slideshow__slide.no-transitions {
  transition: none !important;
}

.no-csstransitions .slideshow__slide {
  display: none;
}

.slideshow__next, .slideshow__previous {
  transition: opacity 250ms linear;
  background-size: 48px 48px;
  height: 48px;
  width: 48px;
  position: absolute;
  top: 50%;
  margin-top: -24px;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
}

.no-opacity .slideshow__next, .no-opacity .slideshow__previous {
  display: none;
}

.slideshow__next {
  right: 0;
  background-image: image-url('forward.png');
  background-image: image-url('forward.svg');
}

.slideshow__previous {
  left: 0;
  background-image: image-url('back.png');
  background-image: image-url('back.svg');
}

.slideshow__indicators {
  transform: translateX(-50%);
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 3;
}

.slideshow__indicator {
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .15) inset;
  display: block;
  height: 16px;
  width: 16px;
  float: left;
  border-radius: 16px;
  border: 1px solid #999;
  margin: 0 3px;
  cursor: pointer;
}

.slideshow__indicator.is-active {
  background: #e1e1e1;
}
